@import url(reset.css);

:root {
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;
}

html, body {
    min-height: 100vh;
    height: 100%;
}

#content {
    height: 100%;
    width: 100%;
    background-color: var(--terra-cotta);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 80vh;
    width: 40vw;
    background-color: var(--independence);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.title {
    height: 10%;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    font-family: 'Italiana', serif;
    color: var(--deep-champagne);
}

#myForm {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-element {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--green-sheen);
    font-family: "Roboto Light", sans-serif;
    font-weight: lighter;
    font-size: 1.7em;
}

.form-element label {
    margin-bottom: 10px;
}

.form-element input[type=text], input[type=password], input[type=email] {
    height: 2.5vh;
    width: 55%;
}

#myForm button {
    margin-top: 15px;
    height: 50px;
    width: 50%;
    align-self: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.warning {
    border: 5px solid #fd2727;
}

.passWarn {
    width: 90%;
    text-align: center;
    font-size: 0.5em;
    color: #FFF;
}

.popup-banner {
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--eggshell);
    border-radius: 15px;
    position: absolute;
    color: black;
    padding-top: 15px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40vh;
}

